.auth-content {
    .title {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 25px;
      text-align: center;
      color: var(--black);
    }
    .form-group { margin-bottom: 15px; }
  }